<web-app id = "WebApp_ID"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation = "http://xmlns.jcp.org/xml/ns/javaee
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

    <display-name>Mailbot MVC Application</display-name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/MailbotWeb-servlet.xml</param-value>
    </context-param>

    <locale-encoding-mapping>
        <locale>zh</locale>
        <encoding>UTF-8</encoding>
    </locale-encoding-mapping>

    <!-- Filter Mappings -->
    <!--filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping-->
    <!--filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->


    <!-- Default Page Support -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- MVC Servlet - see sample-servlet.xml for specific config -->
    <servlet>
        <servlet-name>MailbotWeb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <multipart-config>
            <location>/tmp</location>
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>

        <!--springMVC需要加载的文件-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/spring-*.xml</param-value>
        </init-param>

    </servlet>


    <servlet-mapping>
        <servlet-name>MailbotWeb</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>